html,
body {
  height: 100vh;
}
::-webkit-scrollbar{
  width: 1px;
  
}
::-webkit-scrollbar-thumb{
  visibility: 1px;
}
::-webkit-scrollbar-thumb{
  background-color: #FBB503;
  height: 1px;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background: rgb(0,0,0);

}
.img-form{
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
 
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
h1{
  color: aliceblue;
}

.form-signin .checkbox {
  font-weight: 400;
}
.checkbox label{
  color: #FBB503;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
